/* .nav-containers {
  display: flex;
  justify-content: flex-end;
}

.nav-items {
  margin-left: 3%;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.nav-items a {
  padding: 0.3em 0.9em;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.nav-items a:hover,
.nav-items a:focus {
  color: white;
  background-color: #da9ff9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

@media screen and (max-width: 470px) {
  .nav-containers {
    display: none;
  }
}
/* Media Queries From 450px to 550px */
@media screen and (min-width: 470px) {
  .nav-containers {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
  }
  .nav-items {
    margin-left: 1.5%;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
  }
  .nav-items a {
    padding: 0.3em 0.9em;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
  }

  .nav-items a:hover,
  .nav-items a:focus {
    color: white;
    background-color: #da9ff9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/* Media Queries From 550px to 720px */
@media screen and (min-width: 550px) {
  .nav-containers {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5%;
  }
  .nav-items {
    margin-left: 2%;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
  }
}

/* Media Queries From 720px to */
@media screen and (min-width: 720px) {
  .nav-containers {
    margin-top: 1.5%;
    margin-bottom: 2%;
  }
  .nav-items {
    margin-left: 3%;
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 0.1em;
  }
}
