.mainButton {
  padding: 0.3em 0.9em;
  font-size: 2rem;
  background: rgba(157, 63, 184, 0.78);
  border-radius: 29px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.mainButton:hover,
.mainButton:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
